.scrolled {
    background-color: white;
    transition: 1s;
  }
  
  #logo:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .navbar-light {
    box-shadow: none;
  }
  
  .navShadow {
    box-shadow: 0px 15px 10px -15px #111;
  }
  
  .nav-item{
    font-weight: 600;
    text-transform: uppercase;
      
  }
  
  .navbar-collapse .navbar-nav .nav-item.active .nav-link{
    color: black;
  }
  
  
  nav li a {
    color: black;
    text-decoration: none;
  }
  
  nav li a:hover {
    color: #6A6008;
    text-decoration: none;
  }
  
  i {
    color: black;
  }

  .best{
      padding-top: 20px;
  }

  body{
      background-color: #E7E5D8;
  }

.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)),url("../Assets/bran.JPG");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 10px;
    color: white;;
}

  .para{
      padding-top: 15%;
  }

  .name{
      font-size: larger;
  }

  .free{
      color: #0C49EC;
  }

  .hot{
      color: #CF3004;
  }

  .photo{
      color: #5E11AB;
  }


.dev{
    color: #399508;
}

.about{
    padding-top: 5%;
    padding-left: 15px;
    padding-bottom: 15px;
}

.card{
    background-color: transparent;
}

.pp1{
    padding: 30px;
}

/* .image1{
    margin: 5px;
} */

.me{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Domine', serif;
}

.project{
    padding-top: 30px;
    padding-bottom: 30px;
}

.work{
    padding: 20px;
}

.online_museum{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.image2{
  display: block;
  height: auto;
}

.online-text{
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
color: black;
font-size: 20px;
}

.overlay-online {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #15A206;
  }


.online_museum:hover .overlay-online  {
  opacity: 1;
   }



.gallery{
  width: 80%;
  margin: 0 auto;
  position: relative;
  }
    
.image3{
  display: block;
  height: auto;
  }
    
.gallery-text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  }
    
.overlay-gallery {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E3280B;
  }
    
    
.gallery:hover .overlay-gallery  {
  opacity: 1;
}
        


.creative{
  width: 80%;
  margin: 0 auto;
  position: relative;
  }
        
.image4{
  display: block;
  height: auto;
  }
        
.creative-text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  }
        
.overlay-creative {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #165AD2;
  }
        
        
.creative:hover .overlay-creative  {
  opacity: 1;
  }



.voter{
  width: 80%;
  margin: 0 auto;
  position: relative;
  }
            
.image5{
  display: block;
  height: auto;
  }
          
.voter-text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  }
          
.overlay-voter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FA26AA;
  }
            
            
.voter:hover .overlay-voter  {
  opacity: 1;
  }

.ico1{
  padding-bottom: 15px;
}

footer{
  padding-top: 50px;
  padding-bottom: 30px;
}

.chini{
  background-color: #E5DBBC;
}

.sign{
  background-color: #D7DBDD;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rine{
  border: 1px solid black;
}

.up{
  font-family: 'Roboto', sans-serif;
}

.creator{
  font-family: 'Source Code Pro', monospace;
}

.turn{
  font-family: 'Source Code Pro', monospace;
}

.suitable{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: x-large;
}

.fullstack{
  font-family: 'Abel', sans-serif;
  font-size: large;
}

.core{
  font-family: 'EB Garamond', serif;
  font-size: large;
}

.core1{
  font-family: 'EB Garamond', serif;
  font-weight: 700;
}

.exp{
  font-family: 'Cardo', serif;
  font-size: x-large;
}

.brian{
  font-family: 'BenchNine', sans-serif;
  font-size: large;
}

.what{
  font-family: 'Economica', sans-serif;
  color: #1A5276;
}

